<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
      h1 {
         color: #FFFFFF;
      }

      body {
        background-color: #000000;
        font-family: "Menlo";  
        font-size: 17;
        color: #41CC45;
      }

      ul {
        color: #4164FF;
      }

      a {
        color: #4164FF;
      }

      /*ul li{
        list-style: square;
      }*/

      p.text {
        color: #FFFFFF;
      }

      p.comments {
        color: #41CC45; 
      }

      span {
        color: #DDDDDD;
      }
      </style>

      <!-- <p>Header!!!</p> -->
  </head>

<!-- body -->

  <body>
    <!-- <p>Body!!!</p> -->

    <main class="page-content" aria-label="Content">
      <div class="wrapper" >
        {{  content }}
      </div>
    </main>

  </body>

<!-- footer -->

  <footer>
    <!-- <p text> Footer !!! </p> -->
  </footer>
</html>
